body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
  border: 1px #F67280 solid;
  border-radius: 8px;
  padding: .4rem .8rem;
  -webkit-transition: 120ms;
  transition: 120ms;
}

.button .button__txt {
  color: #F67280;
}

.button:hover {
  background-color: #F67280;
}

.button:hover .button__txt {
  color: #F1EFEC;
}

.header {
  background-color: #F1EFEC;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
}

.header .header__logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #201D20;
}

.header .header__logo .header__logo--accent-color {
  color: #F67280;
}

.title {
  position: relative;
  margin-bottom: 1.5rem;
}

.title .title__underline {
  position: absolute;
  bottom: -0.5rem;
  left: -10rem;
  width: 18rem;
  height: 2px;
}

.title .title__txt {
  font-size: 3rem;
  font-weight: bold;
}

.title--primary {
  color: #F8B195;
}

.title--primary .title__underline {
  background-color: #A46CA4;
}

.title--primary-var {
  color: #201D20;
}

.title--primary-var .title__underline {
  background-color: #F67280;
}

.hero {
  background-color: #201D20;
}

.hero .hero__container {
  height: 41rem;
  padding: 0rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__container .hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero .hero__container .hero__content .hero__content__txt {
  color: #F8B195;
}

.hero .hero__container .hero__design {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__container .hero__design .hero__design__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero .hero__container .hero__design .hero__design__img {
  position: relative;
  width: 33rem;
  z-index: 2;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hero .hero__container .hero__design .hero__design__img-shadow {
  width: 100%;
  height: 100%;
  background-color: #F67280;
  position: absolute;
  bottom: -.7rem;
  right: -.7rem;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hero .hero__container .hero__design .hero__design-lines {
  position: absolute;
  width: 30%;
  left: -1.2rem;
  top: -1rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hero .hero__container .hero__design:hover .hero__design__img {
  width: 33.5rem;
}

.hero .hero__container .hero__design:hover .hero__design__img-shadow {
  background-color: #f45a6a;
  bottom: -.9rem;
  right: -.9rem;
}

.hero .hero__container .hero__design:hover .hero__design-lines {
  position: absolute;
  width: 30%;
  left: -1.4rem;
  top: -1.2rem;
}

.workflow {
  overflow: hidden;
  background-color: #FFFBFB;
}

.workflow .workflow__container {
  position: relative;
  height: 41rem;
  padding: 0rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workflow .workflow__container .workflow__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.workflow .workflow__container .workflow__content .workflow__content__txt {
  color: #201D20;
}

.workflow .workflow__container .workflow__design {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workflow .workflow__container .workflow__design .workflow__design__container {
  position: relative;
  width: 80%;
  -webkit-transform: translateX(3.5rem);
          transform: translateX(3.5rem);
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-row {
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-row .workflow__design-row__item {
  color: #F8B195;
  font-size: 1.2rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-row .workflow__design-row__item:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-row .workflow__design-row__item--color-secondary {
  color: #F67280;
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-row .workflow__design-row__item--color-secondary-var {
  color: #A46CA4;
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-background {
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #201D20;
  z-index: 2;
}

.workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -.7rem;
  right: -.7rem;
  background-color: #F67280;
  z-index: 1;
}

.workflow .workflow__container .workflow__design-lines {
  position: absolute;
  top: -4.8rem;
  left: -4.8rem;
  width: 11rem;
}

.my_projects {
  background-color: #F1EFEC;
}

.my_projects .my_projects__container {
  padding: 4rem;
  padding-right: 0;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.project .project__content {
  padding: 1rem 0;
  padding-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project .project__content__top {
  margin-bottom: 1rem;
}

.project .project__skills {
  display: block;
  width: 100%;
}

.project .project__title {
  display: block;
  margin-bottom: 0.4rem;
  color: #F67280;
  font-weight: bold;
}

.project .project__info {
  display: block;
  margin-bottom: 0.4rem;
  color: #201D20;
}

.project .project__note {
  color: rgba(32, 29, 32, 0.6);
}

.project .project__photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project .project__photo .project__img {
  width: 37vw;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.project .project__photo:hover .project__img {
  -webkit-transform: scale(110%) translateX(-5%);
          transform: scale(110%) translateX(-5%);
}

.tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: rgba(32, 29, 32, 0.2);
  padding: .3rem .7rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.tag .tag__txt {
  display: inline;
  font-weight: bold;
  font-size: 1.2rem;
  color: #201D20;
}

@media screen and (max-width: 1450px) {
  :root {
    font-size: .9rem;
  }
}

@media screen and (max-width: 1300px) {
  :root {
    font-size: .8rem;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: .7rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: .6rem;
  }
}

@media screen and (max-width: 750px) {
  :root {
    font-size: .5rem;
  }
}

@media screen and (max-width: 650px) {
  :root {
    font-size: .4rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: .5rem;
  }
  .hero .hero__container .hero__design .hero__design__img {
    position: relative;
    width: 35vw;
    z-index: 2;
  }
  .workflow .workflow__container {
    display: block;
    height: auto;
  }
  .workflow .workflow__container .workflow__content {
    height: 27rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .workflow .workflow__container .workflow__content .workflow__content__txt {
    width: 100%;
  }
  .workflow .workflow__container .workflow__design {
    width: 100%;
    height: 46rem;
  }
  .workflow .workflow__container .workflow__design .workflow__design__container {
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .workflow .workflow__container .workflow__design .workflow__design__container .workflow__design-background {
    width: 100%;
  }
  .my_projects .my_projects__container {
    padding-right: 4rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }
  .project .project__content {
    padding-right: 0;
    margin-bottom: 3rem;
  }
  .project .project__content__top {
    width: 100%;
    margin-bottom: 2rem;
  }
  .project .project__photo {
    -webkit-box-shadow: 0px 5px 10px 0px #201D20;
            box-shadow: 0px 5px 10px 0px #201D20;
    border-radius: 15px;
    overflow: hidden;
    background-color: #F8B195;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .project .project__photo .project__img {
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .project .project__photo:hover .project__img {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: .45rem;
  }
  .hero .hero__container .hero__design {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */