$c-primary: #F8B195;
$c-primary-var: #201D20;

$c-secondary: #F67280;
$c-secondary-var: #A46CA4;

$c-neutral: #FFFBFB;
$c-neutral-var: #F1EFEC;

$c-background: #F3F6F4;

$c-error: red;
$c-warning: yellow;
$c-info: gray;
